@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #212529;
}

.sectionInnerContainer {
  @apply container flex gap-6 flex-col mx-auto items-center max-w-screen-md px-6 mb-24;
}

@layer base {
  h2 {
    @apply text-3xl font-bold text-center;
    color: #193138;
  }

  h3 {
    @apply text-2xl font-medium text-center;
    color: #2f5a67;
  }

  a {
    @apply underline transition-all;
    color: #4ea7b1;

    &:hover {
      background-color: #4ea7b1;
      color: white;
    }
  }
}
